<h1>ShareTheBaton, LLC</h1>
<p>Welcome!</p>
<p>"Our Promise is not to pass the baton, but to SHARE it."<p>

<h2>What do we do?</h2>

<p>Share the Baton LLC, believes it is every nurse's responsibility to help nursing students successfully transition from student nurse, to confidently practicing RN.</p>

<p>In order to facilitate this transition, we provide virtual courses presenting newly graduated nurses with scenarios our practicing nurses have frequently encountered.</p>
<%= link_to "View Available Courses", courses_path %>

<h2>Coming Soon</h2>

<p>We offer mentoring sessions by experienced RNs that foster relationships with nursing peers, and provide "nursing pearls" that are essential to our practice.</p>

<p>We also host critical thinking workshops designed to sharpen interviewing and critical thinking skills.</p>
